:root {
  --white: #eaeaea;
  --gray: #362b3d;
  --black: #0a0a0a;
  --background-color: #1a1a1d;
  --primary-color: #000011;
  --secondary-color: #212024;
  --dark-secondary-color: #b6b4b4;
  --tertiary-color: #000000;
  --light-tertiary-color: #bebebe;
  --text-color: #000000;
  --hover-color: #18182c;

  --font-family: 'Crimson Pro', 'DM Sans', sans-serif;
}


